
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 30px;
}

/* ------------------ Header --------------------- */
.logo {
  height: 8rem;
}

.logo-box {
  text-align: center;
}

.header-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading {
  width: 100%;
  color: #fff;
  font-weight: 700;
}

.heading-sub {
  display: block;
  font-size: 2rem;
  letter-spacing: 0.3rem;
}

.heading-main {
  display: block;
  font-weight: 800;
  font-size: 5rem;
  letter-spacing: 1.5rem;
}

header {
  position: relative;
  border-bottom: 3px solid #ff3385;
  background-image:linear-gradient(to right,rgba(47,224,200,0.5), rgba(155,193,188,0.5)), url(../img/background.jpg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.user-input {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
}

.search-results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
}

.search-result {
  background: #ffddcc;
  box-shadow: 5px 5px 2px  #b3b3b3;
}

.search {
  text-align: center;
}

 .search-button {
  display: inline-block;
  width: 30%;
 }

 .color-box {   
   width: 1rem;
   height: 1rem;
   border-radius: 50%;
   display:inline-block;
   vertical-align: middle;
}

.color-title {
  display: inline-block;
  vertical-align: baseline;
}


/* like icon */
.like {
  /* position: absolute; */
  top: 12.7rem;
  right:1rem;
}

.like i{
  font-size: 1.7rem;
  cursor: pointer;
  color: #ff3385;
}

.product-link:hover {
  text-decoration: none;
  color: green;
}

/* ---------- loader ------------ */

.loader {
  margin: 3rem auto;
  text-align: center;
}

.loader svg {
  width: 4em;
  height: 4em;
  stroke-width: 0;
  stroke: currentColor;
  fill: #ff9966;
  transform-origin: 50% 50%;
  animation: rotate 2s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

footer {
  background: rgba(47,224,200);
  height: 5rem;
  vertical-align: center;
}

.link{
  color: #000;
}

.link:hover {
  color: #5d73e2;
}
.copyright {
  color: #fff;
  font-size: 1.2rem;
  margin-top: auto; 
  text-align: center;
  margin-top: 2rem;
  padding-top: 1.5rem;
}

/* ------------------------- media queries ------------------------ */

@media (max-width: 1024px) {
  .search-results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
  }
}

@media (max-width: 768px) {
  .search-results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }
}

@media (max-width: 481px) {
  .search-results {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
  }

  header {
    height: 85vh;
  }

  .heading-sub {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  
  .heading-main {
    font-size: 3rem;
    letter-spacing: 0.5rem;
  }

  .user-input {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
  }

  .search-button {
    width: 50%;
   }

   .card-img {
     width: 60%;
   }
   
   .card-image-container {
     text-align: center;
     background-color: #fff;
   }

   .copyright {
     font-size: 0.7rem;
   }

   footer a {
     display: block;
   }


}

